<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go chat 🚀</title>
</head>

<body>
    <div style="display: flex;flex-direction: column;">
        <div id="inputs">
            <form onsubmit="handleSubmit(event)" method="post">
                <!-- Muestra el usuario -->
                <h3>Conectado como: <span id="usuario-mostrar">{{.Usuario.Usuario}}</span></h3>

                <!-- Campo oculto con el usuario -->
                <input type="hidden" id="usuario" name="usuario" value="{{.Usuario.Usuario}}">

                <!-- Campo para mensaje -->
                <input id="mensaje" type="text" name="mensaje" placeholder="Escribe tu mensaje..." required>
                <input type="submit" value="Enviar">
            </form>
        </div>
        <div id="messages" style="display: flex;flex-direction: column;"></div>
    </div>
</body>

<script>
    const websocket = new WebSocket("ws://localhost:8080/autenticado/websockets");

    function handleSubmit(e) {
        e.preventDefault();

        // Tomar el valor directamente por ID
        const usuario = document.getElementById("usuario").value;
        const mensaje = document.getElementById("mensaje").value;

        websocket.send(JSON.stringify({
            usuario: usuario,
            mensaje: mensaje
        }));

        document.getElementById("mensaje").value = ""; // limpiar campo
    }

    websocket.onmessage = function (event) {
        const message = JSON.parse(event.data);
        messages.innerHTML += `<p><b>${message.usuario}</b>: ${message.mensaje}</p>`;
    }
</script>

</html>